@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Satisfy&display=swap');

  body{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight : weight;
    font-style: normal;
  }

h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight : weight;
  font-style: normal;
  color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
 margin: 0%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .search-box {
    position: relative;
    display: inline-block;
  }
