
 @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Satisfy&display=swap');

body {
  font-family: "Merienda", cursive;
  margin: 0;
  padding: 0;
 }


h1 {
  font-weight: 700;
  color: purple;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: black;
  text-align: center;
}

h4 {
  color: purple;
  text-align: center;
}

#intro img {
  width: 100px;
  height: auto;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding: 15px;
  }

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: purple;
}


button {
  background-color: purple;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: darkviolet;
  transform: scale(1.05);
  color: black;
}

#wig-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#wig-images div {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 300px; 
  transition: transform 0.3s ease-in-out;
}

#wig-images div:hover {
  transform: scale(1.05);
  background-color: purple;
}

#wig-images img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 8px;
}

#wig-images h3 {
  font-size: 18px;
  color: black;
  margin-top: 10px;
  font-weight: bold;
}

#wig-images p {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
}

.price {
  color: darkgray;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}


#simpleForm {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 10px;
  }

#simpleForm h2 {
  color: white;
  text-align: center;
}

#simpleForm input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

#simpleForm button {
  width: 100%;
  margin-top: 10px;
  background-color: purple;
}

#simpleForm button:hover {
  background-color: darkblue;
  
}


.clients-section {
  text-align: center;
  padding: 20px;
}

#clients {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#clients img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

#clients button{
  width: 100px;
  height: 5vh;
  display: flex;
  justify-content: baseline;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-handles a {
  color: white;
  font-size: 20px;
  margin: 5px;
}

.footer-rights {
  margin-top: 10px;
  font-size: 14px;
}
#search-results{
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-results img {
  width: 150px; 
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video{
  width: 10px;
  gap: 40px;
  display: flex;
  height: 100vh;
}
